ClientFormKomik/Connected Services/ServiceReference1/ProjectKomik.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectKomik" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectKomik" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDataRegister">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataRegister" nillable="true" type="tns:DataRegister" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataRegister" nillable="true" type="tns:ArrayOfDataRegister" />
  <xs:complexType name="DataRegister">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="kategori" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRegister" nillable="true" type="tns:DataRegister" />
  <xs:complexType name="ArrayOfPeminjaman">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Peminjaman" nillable="true" type="tns:Peminjaman" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeminjaman" nillable="true" type="tns:ArrayOfPeminjaman" />
  <xs:complexType name="Peminjaman">
    <xs:sequence>
      <xs:element minOccurs="0" name="Harga" type="xs:int" />
      <xs:element minOccurs="0" name="IDPeminjaman" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JudulKomik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TanggalPeminjaman" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Peminjaman" nillable="true" type="tns:Peminjaman" />
</xs:schema>